@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
}

@layer base {
  :root {
    --index: calc(1vw + 1vh);
    --gutter: 30px;
    --side-small: 26;
    --side-big: 36;
    --depth: 4000px;
    --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
    --transition-opacity: 0.75s ease;
    --transition-ease: ease;
    --link-color: #e2e2dc;
    --overlay-bg: #0a0a0a;
    --rotate: 4;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-raleway font-light bg-[#191919] text-white text-[calc(var(--index)*.8)] leading-[1.75] select-none;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply w-min uppercase font-thin leading-none;
  }

  .logo {
    cursor: pointer;
  }

  .wrapper1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(https://media.giphy.com/media/3oEduMhFrYvKk4giac/giphy.gif) no-repeat 50% 50%;
    background-size: cover;
  }

  .gif-overlay {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(14, 14, 14, 0.8);
    z-index: -3;
  }

  .gif-overlay1 {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 418vh;
    background-color: #1e1e1e;
    z-index: -3;
  }

  .hero-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 46vh;
    background: url(/home.gif) no-repeat 50% 50%;
    background-size: cover;
    animation: animateGIF 4s cubic-bezier(0, .58, 1, .58);
    /* animation-delay: 3.5s; */
  }

  @keyframes animateGIF {
    0% {
      width: 100%;
      height: 100vh;
    }

    40% {
      width: 100%;
      height: 100vh;
    }

    100% {
      width: 48vw;
      height: 46vh;
    }
  }

  .hero-title {
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
  }

  .hero-title h1 {
    color: #F4FF00;
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 0%;
  }

  .about {
    font-family: "Raleway";
  }

  .glitch {
    position: relative;
  }

  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .glitch::before {
    left: 4px;
    text-shadow: -30px 0 rgb(0, 174, 255);
    background-color: #000;
  }

  .glitch::after {
    left: -2px;
    text-shadow: -3px 0 blue;
    background-color: #000;
  }

  .glitch::before {
    clip: rect(54px, 250px, 56px, 40px);
  }

  @keyframes noise-anim {
    0% {
      clip-path: inset(40% 0 61% 0);
    }

    20% {
      clip-path: inset(92% 0 1% 0);
    }

    40% {
      clip-path: inset(43% 0 1% 0);
    }

    60% {
      clip-path: inset(25% 0 58% 0);
    }

    80% {
      clip-path: inset(54% 0 7% 0);
    }

    100% {
      clip-path: inset(58% 0 43% 0);
    }
  }

  .glitch::before {
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  .glitch::after {
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  .hero-title p {
    color: grey;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 14px;
  }

  .social-media {
    position: absolute;
    bottom: .5%;
    transform: translateY(-50%);
  }

  .social-media ul li {
    display: inline-block;
    list-style: none;
    color: grey;
    padding: 0 10px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 100;
  }

  #rotated {
    color: #fff;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 12px;
  }

  .rotatethis {
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    top: 55%;
    left: 65%;
    transform: rotate(-80deg);
    font-size: 16px;
    font-family: "Raleway";
    animation: rotating 20s linear infinite;
  }

  #steps {
    position: relative;
    gap: 10vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150vh;
    /* background-color: #1e1e1e; */
  }

  .textSteps {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.2),
      10px 10px 25px 0 rgba(0, 0, 0, 0.19);
    height: 80vh;
  }

  #card-one {
    top: 130%;
    background-image: url(/Artboard1.png);
    background-position: top;
    background-size: cover;
  }

  #card-two {
    top: 230%;
    background-image: url(/Artboard2.png);
    background-position: top;
    background-size: cover;
  }

  #card-three {
    top: 250%;
    background-image: url(/Artboard1.png);
    background-position: top;
    background-size: cover;
  }

  #card-four {
    top: 270%;
    background-image: url(/Artboard2.png);
    background-position: top;
    background-size: cover;
  }

  #card-five {
    top: 290%;
    background-image: url(/Artboard1.png);
    background-position: top;
    background-size: cover;
  }

  #card-six {
    top: 310%;
    background-image: url(/Artboard2.png);
    background-position: top;
    background-size: cover;
  }

  #card-seven {
    top: 330%;
    background-image: url(/Artboard1.png);
    background-position: top;
    background-size: cover;
  }

  #card-eight {
    top: 350%;
    background-image: url(/Artboard2.png);
    background-position: top;
    background-size: cover;
  }

  .rotatethis span {
    position: absolute;
    top: 0;
    left: calc(50% - 15px);
    display: inline-block;
    width: 30px;
    height: 100px;
    transform-origin: center bottom;

  }

  .rotatethis span:nth-child(1) {
    transform: rotate(0deg);
  }

  .rotatethis span:nth-child(2) {
    transform: rotate(6.6667deg);
  }

  .rotatethis span:nth-child(3) {
    transform: rotate(13.3333deg);
  }

  .rotatethis span:nth-child(4) {
    transform: rotate(20deg);
  }

  .rotatethis span:nth-child(5) {
    transform: rotate(26.6667deg);
  }

  .rotatethis span:nth-child(6) {
    transform: rotate(33.3333deg);
  }

  .rotatethis span:nth-child(7) {
    transform: rotate(40deg);
  }

  .rotatethis span:nth-child(8) {
    transform: rotate(46.6667deg);
  }

  .rotatethis span:nth-child(9) {
    transform: rotate(53.3333deg);
  }

  .rotatethis span:nth-child(10) {
    transform: rotate(60deg);
  }

  .rotatethis span:nth-child(11) {
    transform: rotate(66.6667deg);
  }

  .rotatethis span:nth-child(12) {
    transform: rotate(73.3333deg);
  }

  .rotatethis span:nth-child(13) {
    transform: rotate(80deg);
  }

  .rotatethis span:nth-child(14) {
    transform: rotate(86.6667deg);
  }

  .rotatethis span:nth-child(15) {
    transform: rotate(93.3333deg);
  }

  .rotatethis span:nth-child(16) {
    transform: rotate(100deg);
  }

  .rotatethis span:nth-child(17) {
    transform: rotate(106.667deg);
  }

  .rotatethis span:nth-child(18) {
    transform: rotate(113.333deg);
  }

  .rotatethis span:nth-child(19) {
    transform: rotate(120deg);
  }

  .rotatethis span:nth-child(20) {
    transform: rotate(126.667deg);
  }

  .rotatethis span:nth-child(21) {
    transform: rotate(133.333deg);
  }

  .rotatethis span:nth-child(22) {
    transform: rotate(140deg);
  }

  .rotatethis span:nth-child(23) {
    transform: rotate(146.667deg);
  }

  .rotatethis span:nth-child(24) {
    transform: rotate(153.333deg);
  }

  .rotatethis span:nth-child(25) {
    transform: rotate(160deg);
  }

  .rotatethis span:nth-child(26) {
    transform: rotate(166.667deg);
  }

  .rotatethis span:nth-child(27) {
    transform: rotate(173.333deg);
  }

  .rotatethis span:nth-child(28) {
    transform: rotate(180deg);
  }

  .rotatethis span:nth-child(29) {
    transform: rotate(186.667deg);
  }

  .rotatethis span:nth-child(30) {
    transform: rotate(193.333deg);
  }

  .rotatethis span:nth-child(31) {
    transform: rotate(200deg);
  }

  .rotatethis span:nth-child(32) {
    transform: rotate(206.667deg);
  }

  .rotatethis span:nth-child(33) {
    transform: rotate(213.333deg);
  }

  .rotatethis span:nth-child(34) {
    transform: rotate(220deg);
  }

  .rotatethis span:nth-child(35) {
    transform: rotate(226.667deg);
  }

  .rotatethis span:nth-child(36) {
    transform: rotate(233.333deg);
  }

  .rotatethis span:nth-child(37) {
    transform: rotate(240deg);
  }

  .rotatethis span:nth-child(38) {
    transform: rotate(246.667deg);
  }

  .rotatethis span:nth-child(39) {
    transform: rotate(253.333deg);
  }

  .rotatethis span:nth-child(40) {
    transform: rotate(260deg);
  }

  .rotatethis span:nth-child(41) {
    transform: rotate(266.667deg);
  }

  .rotatethis span:nth-child(42) {
    transform: rotate(273.333deg);
  }

  .rotatethis span:nth-child(43) {
    transform: rotate(280deg);
  }

  .rotatethis span:nth-child(44) {
    transform: rotate(286.667deg);
  }

  .rotatethis span:nth-child(45) {
    transform: rotate(293.333deg);
  }

  .rotatethis span:nth-child(46) {
    transform: rotate(300deg);
  }

  .rotatethis span:nth-child(47) {
    transform: rotate(306.667deg);
  }

  .rotatethis span:nth-child(48) {
    transform: rotate(313.333deg);
  }

  .rotatethis span:nth-child(49) {
    transform: rotate(320deg);
  }

  .rotatethis span:nth-child(50) {
    transform: rotate(326.667deg);
  }

  .rotatethis span:nth-child(51) {
    transform: rotate(333.333deg);
  }

  .rotatethis span:nth-child(52) {
    transform: rotate(340deg);
  }

  .rotatethis span:nth-child(53) {
    transform: rotate(346.667deg);
  }

  .rotatethis span:nth-child(54) {
    transform: rotate(353.333deg);
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }


  .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    /* overflow-y: hidden; */

  }

  .overlay svg path {
    fill: #0a0a0a;
    ;
    visibility: hidden;
  }

  #toggle-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    z-index: 2;
    cursor: pointer;
  }

  #hamburger {
    position: relative;
    width: 32px;
    height: 20px;
    z-index: 0;
  }

  #hamburger span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    display: inline-block;
    width: 34px;
    height: 1.25px;
    background: #fff;
    transition: transform 0.25s;
  }

  #hamburger span::before {
    position: absolute;
    right: 0;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1.25px;
    background: #fff;
    transform: translateY(-4px);
    transition: transform 0.25s;
  }

  .jump {
    animation: jump 0.6s linear;
  }

  .jump1 {
    animation: jump1 0.6s linear;
  }

  .cactus {
    counter-increment: cactus;
    animation: cactus 1.5s infinite linear;
  }

  @keyframes cactus {
    0% {
      left: 1250px
    }

    100% {
      left: -220px
    }
  }

  @keyframes jump {
    0% {
      top: 330px;
    }

    30% {
      top: 225px;
    }

    50% {
      top: 160px;
    }

    80% {
      top: 225px;
    }

    100% {
      top: 330px;
    }
  }

  @keyframes jump1 {
    0% {
      top: 270px;
    }

    30% {
      top: 170px;
    }

    50% {
      top: 100px;
    }

    80% {
      top: 170px;
    }

    100% {
      top: 270px;
    }
  }

  #hamburger.active span {
    transform: rotate(45deg);
  }

  #hamburger.active span::before {
    top: 0;
    width: 34px;
    transform: rotate(-90deg);
    transition: transform 0.25s;
  }

  .menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    visibility: hidden;
  }

  .menu>div {
    height: 100%;
    display: flex;
    margin-left: -1em;
  }

  .menu a {
    position: relative;
    top: 120px;
    line-height: 70%;
    text-decoration: none;
    color: var(--link-color);
    transition: 0.3s ease-in-out;
  }

  .menu a:hover {
    color: #F4FF00;
  }

  .menu a span {
    font-size: 20px;
    margin-right: 2em;
    font-family: "Ayer";
  }

  .menu-item {
    position: relative;
  }

  .menu-item::after {
    content: "";
    position: absolute;
    top: 100px;
    left: -20px;
    width: 120%;
    height: 200%;
    /* background: var(--overlay-bg); */
    margin: 0 auto;
  }

  .menu-container {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .primary-menu {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .primary-menu .menu-container .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
  }

  .primary-menu a {
    text-transform: uppercase;
    font-size: 125px;
    font-weight: 500;
  }

  .secondary-menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
  }

  .secondary-menu .menu-item a {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 36px;
  }

  .closer {
    font-family: "Coolvetica", sans-serif;
    font-weight: 400;
    /* font-size: 44px; */
  }

  .secondary-menu .menu-container .wrapper:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .primary-menu .menu-container .wrapper .menu-item a,
  .primary-menu .menu-container .wrapper {
    margin-left: .3em;
  }

  .perspective {
    perspective: 1500px;
  }

  .transform-3d {
    transform-style: preserve-3d;
  }

  .frame {
    @apply w-full h-full absolute flex items-center justify-center will-change-transform;
    transition: var(--transition), opacity var(--transition-opacity);
  }

  .frame h2 {
    @apply text-center text-[calc(var(--index)*3.3)];
  }

  .frame h3 {
    @apply text-[calc(var(--index)*3)];
  }

  .frame p {
    @apply max-w-[30vw] mt-[3vh];
  }

  .frame-media {
    @apply relative w-[calc(var(--index)*var(--side-small))] h-[calc(var(--index)*var(--side-big))] bg-center bg-cover;
  }

  .frame-left {
    @apply right-[calc(var(--side-small)/2*var(--index)+var(--gutter))];
  }

  .frame-right {
    @apply left-[calc(var(--side-small)/2*var(--index)+var(--gutter))];
  }

  .frame-video {
    @apply relative w-[calc(var(--index)*var(--side-big))] h-[calc(var(--index)*var(--side-small))] bg-center bg-cover;
  }

  .frame-video-left {
    @apply right-[calc(var(--side-big)/2*var(--index)+var(--gutter))];
  }

  .frame-video-right {
    @apply left-[calc(var(--side-big)/2*var(--index)+var(--gutter))];
  }

  .frame-text-right>* {
    @apply relative left-[18vw];
  }

  .frame-text-left>* {
    @apply relative right-[18vw];
  }

  .soundbutton {
    @apply fixed bottom-[5vh] right-[5vw] w-6 transition duration-[.25s] ease-[var(--transition-ease)];
  }

  .soundbutton.paused {
    @apply opacity-25;
  }
}


@media(max-width: 900px) {


  .hero-gif {
    width: 50vw;
    height: 50vh;
  }

  .hero-title {
    top: 45%;
    left: 38%;
  }

  .hero-title h1 {
    font-size: 32px;
  }

  .primary-menu a {
    font-size: 60px;
  }

  .primary-menu .menu-container .wrapper {
    justify-content: space-evenly;
    gap: 0.1em;
  }

  .secondary-menu .menu-container .wrapper:nth-child(1) {
    gap: 20px;
  }

  .menu>div {
    margin-left: -5.5em;
  }

  .secondary-menu .menu-item a {
    font-size: 20px;
  }

  .primary-menu .menu-container .wrapper .menu-item a,
  .primary-menu .menu-container .wrapper {
    margin-left: .6em;
  }

  .menu-container {
    justify-content: space-around;
  }
}

@media(max-width: 500px) {
  .hero-gif {
    width: 70vw;
    height: 45vh;
    animation: animateGIFSmall 4s cubic-bezier(0, .58, 1, .58);
    /* animation-delay: 6.5s; */
  }

  @keyframes animateGIFSmall {
    0% {
      width: 100%;
      height: 100vh;
    }

    40% {
      width: 100%;
      height: 100vh;
    }

    100% {
      width: 75vw;
      height: 45vh;
    }
  }

  .rotatethis {
    font-size: 10px;
    width: 100px;
    height: 100px;
    left: 16rem;
    top: 26.5rem;
  }

  .rotatethis span {
    height: 50px;
  }

  .hero-title {
    top: 35%;
    left: 38%;
  }

  .hero-title h1 {
    font-size: 32px;
  }

  .primary-menu a {
    font-size: 30px;
  }

  .menu {
    flex-direction: column;
  }

  .secondary-menu {
    justify-content: start;
    margin-top: -100px;
    place-items: end;
  }

  .menu-container {
    justify-content: space-between;
  }

  .primary-menu .menu-container .wrapper {
    justify-content: space-evenly;
    gap: 0.1em;
  }

  .secondary-menu .menu-container .wrapper:nth-child(1) {
    gap: 20px;
  }

  .menu>div {
    margin-left: -5.5em;
  }

  .secondary-menu .menu-item a {
    font-size: 25px;
  }

  .primary-menu .menu-container .wrapper .menu-item a,
  .primary-menu .menu-container .wrapper {
    margin-left: 1.1em;
  }

  .menu-container {
    justify-content: space-evenly;
  }

  .overlay {
    width: 100vw;
    overflow: hidden;
  }

  .overlay svg {
    width: 100vh;
  }
}